div
  auth-case(v-if="!$auth.$state.loggedIn")
  button(@click="$auth.logout()", v-else) Logout
  |User status:
  b-badge {{ $auth.$state.loggedIn ? 'Logged In' : 'Guest' }}
  p User: {{ $auth.user }}