nav
	ul
		li.active
			a(href="#")
				i.mdi.mdi-home
				|Главная
		li
			a(href="#")
				i.mdi.mdi-library-books
				|Блог
		li
			a(href="/contacts.html")
				i.mdi.mdi-phone-log
				|Контакты
		li.separator
		li
			a(href="#")
				i.mdi.mdi-airplane.fly-tours
				|Авиа туры
		li
			a(href="#")
				i.mdi.mdi-bus.bus-tours
				|Автобусные туры
		li
			a(href="#")
				i.mdi.mdi-flag.ukraine-tours
				|Туры по Украине

		li.separator

		li
			a(href="#")
				i.mdi.mdi-heart-circle.events
				|Праздники и события
		li
			a(href="#")
				i.mdi.mdi-star-circle.corporation
				|Для корпораций

		li.separator
		li
			a(href="#")
				i.mdi.mdi-airplane-takeoff.fly-tickets
				|Авиа билеты
		li
			a(href="#")
				i.mdi.mdi-bus-articulated-front.bus-tickets
				|Автобусные билеты
		li
			a(href="#")
				i.mdi.mdi-file-document.documents
				|Подготовка документов
		li.separator
		li
			a(href="#")
				i.mdi.mdi-information.about
				|О нас
		li
			a(href="#")
				i.mdi.mdi-account-multiple.partners
				|Сотрудничество
		li.separator
.footer
	a(href="#").terms Термины и условия
	a(href="#").agree Пользовательское соглашение
	.dev Сайт разработан в агенстве&nbsp;
		a(href="#", target="_blank") "Lauer"
	.copyright © 2018 Все права защищены