div
	nav
		ul
			li(v-for="item in menu", :class="[{ separator : item.separator }, (item.route_name ? (item.route_name === $route.name ? 'active' : false) : item.link === $route.path ? 'active' : false )]")
				router-link(
					v-if="!item.separator",
					:to="(item.route_name ? { name: item.route_name } : item.link)",
					:tag="(item.route_name ? (item.route_name === $route.name ? 'span' : 'a') : item.link === $route.path ? 'span' : 'a' )"
				)
					i(:class="item.icon")
					|{{ item.title }}

	.footer
		span.terms {{ text.terms_link }}
		span.agree {{ text.agree_link }}
		.dev {{ text.developer_info }}
			span.link(@click="devLinkOpen") "Lauer"
		.copyright © {{ year }} {{ text.right }}