$icomoon-font-path: "~static/fonts/froggy" !default;

$icon-viber: "\e902";
$icon-headset_mic: "\e903";
$icon-map: "\e901";
$icon-location: "\e900";
$icon-calendar: "\e953";
$icon-fire: "\e9a9";
$icon-google-plus2: "\ea8c";
$icon-facebook2: "\ea91";
$icon-instagram: "\ea92";
$icon-whatsapp: "\ea93";
$icon-telegram: "\ea95";
$icon-twitter: "\ea96";
$icon-skype: "\eac5";