div
	#mask-menu

	aside.menu
		.header
			button.navbar-toggler(type="button", @click="asideToggle_open = !asideToggle_open")
				i.mdi.mdi-menu
				|{{ text.menu }}
			a.navbar-brand(href="#")
				img(:src="$store.state.logo", :alt="$store.state.logo_alt")
		#asideMenu-scrollWrapper
			.wrapper
				list-menu(v-if="default_list")