div
	//- .menu-mask
	#mask-menu
	aside.menu
		.header
			button.navbar-toggler(type="button", @click="asideToggle_open = !asideToggle_open")
				<i class="material-icons">menu</i>
				|меню
			a.navbar-brand(href="#")
				img(src="~assets/images/froggy_tours.png", alt="Froggy Tour")
		#asideMenu-scrollWrapper
			.wrapper
			